name: Sync to Hugging Face hub
on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          lfs: true

      - name: Ensure Git LFS is active
        run: |
          git lfs install
          git lfs pull

      - name: Push to hub
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          git push https://ash001:${HF_TOKEN}@huggingface.co/spaces/ash001/LangGraph_Multi-Agent_Orchestrator HEAD:main